 <!DOCTYPE html>
<html lang="en">
	<head>
		<title>IRIS Techademy</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">
	</head>
<body>

	<h1>Wel Come to Techademy</h1>

	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
</body>
</html>